<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación Django</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div style="text-align:center;">
        <img class="logo-img" src="{% static 'img/logo.png' %}" alt="Logo">
    </div>
    <h1 style="text-align:center;">Bienvenido a Mi Aplicación Django!</h1>
    <p>Esta es la página de inicio.</p>
    <!-- Añade un enlace a la página de registro -->
    <p>¿No tienes una cuenta? <a href="{% url 'Siete:register' %}">Regístrate aquí</a>.</p>
    <p>¿Ya tienes una cuenta? <a href="{% url 'Siete:login' %}">Inicia sesión aquí</a>.</p>
    <p>¿Quieres cerrar la sesión? <a href="{% url 'Siete:logout' %}">Cierra la sesión aquí</a>.</p>
    {% if user.is_authenticated %}
        <p>Ve a tu <a href="{% url 'Siete:lista_tareas' %}">lista de tareas</a>.</p>
    {% endif %}
    <p>Ve a tu <a href="{% url 'Siete:bienvenido' %}">página de bienvenida</a>.</p>

    {% block content %}{% endblock %}
</body>
</html>



