{% extends 'inicio.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas Pendientes</h1>
    <a href="{% url 'Siete:crear_tarea' %}">Agregar Tarea</a>

    <form method="GET">
        {{ form.as_p }}
        <input type="submit" value="Filtrar">
    </form>

    <ul>
        {% for tarea in tareas %}
            <li>
                <strong>{{ tarea.nombre }}</strong> - {{ tarea.fecha_vencimiento }} - Prioridad: {{ tarea.prioridad.nombre|default:"No establecida" }} - Asignada a: {{ tarea.usuario_asignado.username }}
                <a href="{% url 'Siete:ver_tarea' tarea.id %}">Ver</a>
                <a href="{% url 'Siete:editar_tarea' tarea.id %}">Editar</a>
            </li>
        {% empty %}
            <li>No hay tareas pendientes.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}


